
{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">List of all Ads</h1>

    <div>
        {% for advertisment in adverts %}
            {{ advertisment.title  }}
            {{ advertisment.id }}
        {% endfor %}
    </div>
{% endblock %}